body {
    --main-color: #3d17af;
    --dark: #09021d;
    --light: #fcf7ff;

    background-color: var(--light);
}


.map {
    height: 300px;
    max-width:100%;
    background-color:transparent;
}
