@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
    --main-color: #3d17af;
    --dark: rgba(9, 2, 29);
    --transparent-dark: rgba(9, 2, 29, 0.76);
    --light: #fcf7ff;

    background-color: var(--dark);
    margin: 0;
    --perspective: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    color:var(--light);
}

* {
    box-sizing: border-box;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    --width: 1080px;
    --height: 719px;
    width: var(--width);
    height: var(--height);
    background-image: url('../images/background.jpeg');
    background-size: contain;
    perspective: var(--perspective);
    position: relative;
}

.wall {
    display: flex;
    perspective: inherit;
    justify-content: space-around;
}

.webcam {
    --width: 300px;
    --height: 180px;
    position: absolute;
    left: 390px;
    top: 120px;
    width: var(--width);
    height: var(--height);
}

.webcam:hover .country {
    display: block;
}
.webcam .country {
    display: none;
    position:absolute;
    top:0;
    left:0;
    right: 20px;
    padding:16px;
    text-align: right;
    color:white;
    width:100%;
    height:100%;
    background-color: var(--transparent-dark);
}

.webcam img {
    width: 100%;
    object-fit: cover;
}


.recipe {
    margin: 16px;
    transform: rotateX(85deg) scale3d(0.4, 0.4, 0.4);
    transform-origin: left bottom;
    position: absolute;
    bottom: 60px;
    left: 200px;
    font-size: 1em;
    color: var(--dark);
    text-decoration: none;
    z-index: 3;
    width: 400px;
    height:600px;
}

.recipe:hover {
    transform: unset;
}
.recipe-paper {
    background-color: var(--light);
    box-shadow: 1px 1px 8px -4px var(--dark);
    padding: 16px;
    height:100%;
}

.recipe-details {
    display: flex;
    justify-content: space-around;
}

.recipe-details img {
    width: 40%;
    object-fit: contain;
    max-height: 200px;
}

.glass {
    height: 130px;
    opacity: 0.7;
    position: absolute;
    bottom: 120px;
    left: 500px;
}

.flag {
    position: absolute;
    bottom: 220px;
    left: 550px;
}

.map {
    --height: 300px;
    width: 200px;
    height: var(--height);
    background-color: transparent;
    position: absolute;
    right: 240px;
    bottom: 60px;
}

.artwork {
    border: 10px inset var(--dark);
    background-color: var(--dark);
}

.artwork img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.artwork figcaption {
    display: none;
    margin: 0;
    padding: 0;
    background-color: var(--transparent-dark);
    color:var(--light);
}

.artwork:first-child {
    width: 200px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.artwork:last-child {
    transform: rotateY(-30deg) rotateX(15deg);
    width: 200px;
    position: absolute;
    right: 30px;
    top: 200px;
}

.artwork:hover figcaption {
    transform:unset;
    display: block;
    padding:16px;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    position:absolute;
}

figure {
    margin: 0;
    padding: 0;
}

